.game-field-cell {
    --width: 30px;
    width: var(--width);
    height: var(--width);
    color: #FFF;
}

.game-field-cell_empty {
    background: #333;
}

.game-field-cell_ok {
    background: #333;
}

.game-field-cell_offered {
    background: #319065;
}

.game-field-cell_placed {
    background: #614;
}

.game-field {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(var(--game-field-size), max-content);
    grid-template-rows: repeat(var(--game-field-size), max-content);
}

